*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9faff;
}
/* .custom-table .ant-table-thead {
  background-color: #ffffff !important;
} */
.custom-table .ant-table-thead .ant-table-cell {
  background-color: white !important;
}
